<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="PointsOfInterest.PointsOfInterestService">
        <endpoint 
          address="net.tcp://localhost:5000/PointsOfInterestService" 
          binding="netTcpBinding"
          contract="Contracts.IPointsOfInterestService"
          name="tcpEP">
        </endpoint>
        <endpoint 
          address="http://localhost:6000/PointsOfInterestService" 
          binding="basicHttpBinding"
          contract="Contracts.IPointsOfInterestService"
          name="httpEP">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>